<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="loadUsers.js"></script>
</head>

<body>

    <div class="firstDiv">
        <div class="childOfFirst">
            <ul id="my-first-ul"></ul>
        </div>
        <div class="childOfFirst">
            <p id="my-second-p">another paragraph</p>
            <input id="my-input" type="text" placeholder="Type something">
        </div>
        <div class="childOfFirst">
            <ul id="my-second-ul"></ul>
        </div>

    </div>
</body>

</html>